<form [formGroup]="vehicleForm">
<div (click)="closeDialog(true)" style="float: right; margin-top: 12px; margin-right: 15px" class="mdi mdi-close"></div>
<div class="title-form-vehicles" mat-dialog-title>{{title}}</div>
  <div class="container-fluid pt-3">
    <div class="row mb-2">
      <div class="col-12">
        <app-icon-selector
          position="bottom"
          [selectedIcon]="vehicleForm.get('icon')?.value"
          [onIconSelected]="onIconSelected"
          [disable]="loading == true">
        </app-icon-selector>
      </div>
    </div>
  </div>

  <div style="padding: 18px">
  <mat-form-field appearance="outline">
    <mat-label>Internal Code</mat-label>
    <input type="text" matInput formControlName="codbt">
    <mat-error [formGroup]="vehicleForm" control="codbt" controlName="codbt">
      <mat-icon class="mat-error-icon">error_outline</mat-icon><strong> Required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name">
    <mat-error [formGroup]="vehicleForm" control="name" controlName="name">
      <mat-icon class="mat-error-icon">error_outline</mat-icon><strong> Required</strong>
    </mat-error>
  </mat-form-field>
  </div>
  <input type="text" [hidden]="true" matInput formControlName="type" value="type">
  <input type="text" [hidden]="true" matInput formControlName="company" value="company">
<div class="border-save-vehicles" mat-dialog-actions align="end">
  <mat-spinner class="mat-spinner-style" [diameter]="20" *ngIf="loading" mode="indeterminate"></mat-spinner>
  <button (click)="saveVehicle(true)" mat-button color="primary" [disabled]="!canSave()">Save and Close</button>
  <button (click)="saveVehicle(false)" mat-button color="primary" [disabled]="!canSave()">Save</button>
</div>
</form>


