.title-form-vehicles {
  font-weight: 400;
  font-size: 16px;
  width: auto;
  border-bottom: 1px solid #d9d9d9;
  padding: 5px 15px;
  background-color: #fafafa;
  margin-bottom: 35px;
}

.mat-error-icon {
  display: inline-flex;
  vertical-align: top;
}

.mat-spinner-style {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.border-save-vehicles{
  border-top: 1px solid #d9d9d9;
  background-color: #fafafa;
}


