.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 120px;
  right: 45%;
  bottom: 0px;
  left: 0px;
  height: 480px;
  box-shadow: 0px 0px 20px #343434;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fafafa;
}

.login-full-width {
  width: 100%;
}
