<div class="toolbar" role="banner">
  <img width="200" alt="Crud Loop" src="assets/images/logo_loop_branco.png"/>
  <div class="spacer"></div>
<button (click)="onLogout()" id="logout-logo" aria-label="Logout" title="Logout">
  <i class="mdi mdi-logout"></i> Logout
</button>
</div>
<h3>Vehicles</h3>
<div class="header-table">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-form-field appearance="outline" class="search">
    <mat-label>Search Teste</mat-label>
    <i matPrefix class="mdi mdi-magnify"></i>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
    <button (click)="openDialogVehicles()"  class="btn-add-vehicles" mat-button color="primary">Add Vehicle</button>

  <div class="">
<!--  Quando usa a tabela do Angular Material, não é necessário fazer *ngFor, basta usar o [dataSource] setando sua variavel  -->
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Icon </th>
      <td mat-cell style="font-weight: 500;" *matCellDef="let vehicle">
        <img *ngIf="vehicle.icon" class="truck-icon" [src]=" 'https://cdn.readymix.io/img/icons/' + vehicle.icon " />
      </td>
    </ng-container>

    <ng-container matColumnDef="codbt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Internal Code </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.codbt}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.name}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let vehicle">
        <div class="mat-icon-no-color">
          <button (click)="openDialogVehicles(vehicle)" class="icons-options" matTooltip="Edit Vehicle">
            <i class="mdi mdi-square-edit-outline"></i>
          </button>
          <button (click)="deleteVehicles(vehicle.id, vehicle.name)" class="icons-options" matTooltip="Remove Vehicle">
            <i class="mdi mdi-trash-can-outline"></i>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-paginator" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
</div>
