table {
  font-size: 15px;
  width: 100%;
}

td, th {
  width: 30%;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: #3e64ff;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 10px gray;
}

.toolbar img {
  margin: 0 50px;
}

.toolbar #logout-logo {
  background-color: #3e64ff;
  border: none;
  color: #ffffff;
  font-size: 15px;
  margin-left: 70%;
  font-weight: bold;
}

.toolbar #logout-logo:hover {
  opacity: 0.7;
}

.icon-header{
  color: #ffffff !important;
  background-color: #3e64ff;
  border:none;
}

.search {
  margin: 2% 10px 10px 2%;
}

.btn-add-vehicles {
  float: right;
  top: 35px;
  right: 25px;
  border: 1px solid #d9d9d9;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-weight: bold;
  color: #0c56c9;
  background-color: #ffffff;
}

.icons-options {
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  color: #585858;
}

.icons-options:hover {
  background-color: #ececec;
}

.mat-paginator {
  background-color: #fafafa;
}

.header-table {
  margin: 100px;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px #d7d7d7;
}

.truck-icon {
  -webkit-filter: drop-shadow(0.5px 0.5px 0 #454545)
  drop-shadow(-0.5px -0.5px 0 #454545);
  filter: drop-shadow(1px 1px 0 #454545)
  drop-shadow(-0.5px -0.5px 0 #454545);
  width: 25px;
}

.size-icon-options {
  font-size: 17px;
}

h3 {
  font-weight: bold;
  color: #494949;
  font-size: 1.65rem;
  margin:90px 100px -70px;
  width: auto;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px;
}
