.icon-alert {
  font-size: 1.3rem;
  color: #f39720;
  vertical-align: middle;
}

.title-dialog {
  font-weight: bold;
}

.message-dialog {
  font-size: 15px;
}

.padding-form {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.padding-buttons {
  padding: 0 5px 5px;
}
